@media screen and (min-width: 992px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    min-height: 100vh;
    justify-content: center;
    margin: auto;
  }

  .title {
    grid-column: 1/2;
    text-align: start;
  }

  .card-inteiro {
    grid-column: 2/3;
  }

  h1 {
    font-size: 3em;
    margin-top: 0em;
  }
}